.header {
  display: flex;
  width: 100%;
  padding: 32px 0px;
  align-items: center;
  gap: 56px;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1 0 0;
  text-decoration: none;
  padding-left: 204px;
  padding-right: 204px;
}

.scroll_web {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0px;
  font-family: "Montserrat", sans-serif;
}

.header__nav_list {
  display: flex;
  padding: 2px 0px 0px 0px;
  align-items: center;
  gap: 36px;
}

.header__nav_list__item {
  color: #000;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.36px;
}

.header__num {
  color: #000;
  text-decoration: none;
  margin-right: 26px;
  gap: 10px;
}

.header__search {
  padding: 5px;
}

.header__dop {
  display: flex;
  align-items: center;
  position: relative;
}

.icon-coub {
  margin: 0;
  flex-shrink: 0;
}

.coub {
  height: 440px;
}

.hello-screen {
  display: flex;
}

.hello-screen__conteiner {
  display: flex;
  padding: 40px 115px 99px 31px;
  align-items: center;
  justify-content: space-between;
}

.hello-screen__inf {
  display: flex;
  flex-direction: column;
  width: calc(50% + 98px);
}

.content {
  padding-left: 204px;
  padding-right: 204px;
}

.hello-screen__title {
  font-size: 48px;
  font-weight: 600;
  letter-spacing: 0.96px;
  margin-bottom: 20px;
}

.hello-screen__text {
  font-size: 24px;
  font-family: Arial, sans-serif;
  line-height: 146%;
  margin-bottom: 42px;
}

.hello-screen__row {
  display: flex;
  align-items: flex-start;
  gap: 108px;
}

.hello-screen__column {
  width: 83px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2px;
}

.item-hello-screen__title {
  font-size: 48px;
  font-weight: 600;
  letter-spacing: 0.96px;
  color: #218A3D;
}

.item-hello-screen__text {
  font-size: 24px;
  font-family: Arial, sans-serif;
  line-height: 146%;
  margin-left: auto;
  margin-right: auto;
  width: 6em;
}

.types-course {
  display: flex;
  width: 1512px;
  padding: 0px 0px 140px 0px;
  flex-direction: column;
  align-items: center;
  gap: 42px;
  gap: 48px;
}

.types-course__content {
  display: flex;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
}

.title {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  font-size: 40px;
  font-weight: 600;
  letter-spacing: 0.8px;
}

.text {
  font-size: 22px;
  font-family: Arial, sans-serif;
  line-height: 128%;
}

.box-inf {
  border-radius: 16px;
  box-shadow: 0px 0px 36px 0px rgba(0, 0, 0, 0.08);
}

.types-course__box-inf {
  display: flex;
  height: 364px;
  padding: 46px 46px 60px 44px;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  flex: 1 0 0;
}

.types-course__title {
  flex-direction: column;
  align-self: stretch;
  font-size: 24px;
  font-weight: 600;
  line-height: 138%;
  letter-spacing: 0.48px;
}

.types-course__text {
  font-size: 18px;
  font-family: Arial, sans-serif;
  line-height: 146%;
}

.recruitment {
  display: flex;
  width: 1512px;
  padding: 0px 0px 140px 0px;
  flex-direction: column;
  align-items: center;
  gap: 42px;
}

.head {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
}

.recruitment__content {
  display: flex;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
}/*# sourceMappingURL=style.css.map */